.selection {
  background-color: whitesmoke;
  width: 100%;
  min-height: 100vh;
}

#selection-message {
  min-height: 15vh;
}

.player-one, .player-two {
  background-color: grey;
  width: 100%;
  min-height: 100vh;
}